/* public/styles/base.css */

:root{
    --background-dark: #0d406d;
    --background: #2b5b84;
    --background-light: #e6e8ea;
    --body: #e0a1c0;
    --panel: #ffd343;
    --body-font: 14px/1.5 Vidaloka, OdorMeanChey;
    --link: #3776ab;
    --menu: #1e2933;
    --playlist-part:lightgrey;
    --playlist-color: black;
    --playlist-clicked: white;
    --playlist-clicked-bg: #149165;
    --color: #caccce;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--link);
}

a:hover{
    opacity: .7;
}

.region{
    max-width: 1100px;
    margin: 0 auto;
}
  
html{
    color: var(--color);
    font: var(--body-font);
    background: var(--background);
}